body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(198, 223, 215);
  user-select: none;
}

header {
  padding-bottom: 2vw;
}

.controls {
  font-size: 1vw;
  width: 100vw;
  border-bottom: solid .2vw black;
  padding: .3vw;
  margin-bottom: .3vw;
  background-color: blanchedalmond;
  position: fixed;
}

.control {
  font-size: 1vw;
  padding: .3vw;
  border: .1vw solid black;
}


.cell {
  border-style: none;
}

.empty {
  display: inline-block;
}

.main{
  padding-top: 2vw;
  display: flex;
  justify-content: center;
}

.grids{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  border: 1px black solid;
}

.box{
  height: 50px;
  width: 50px;
  /* border: 1px black solid; */
}

.box:hover {
  background-color: rgba(0, 0, 0, 0.356);
}

.row{
  display: flex;
}

/* 
.box{
  height: 50px;
  width: 50px;
  border: 1px black solid;
}

.row{
  display: flex;
}

/* Dropdown Button */
/*
.dropbtn {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  font-size: 1vw;
  padding: .3vw;
  border: .1vw solid black;
}

/* The container <div> - needed to position the dropdown content */
/*
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
/*
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
 */

 /* Dropdown Button */
.dropbtn {
  font-size: 1vw;
  padding: .3vw;
  border: .1vw solid black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content{
  margin: 0;
}

.option{
  padding: 1.75vw;
  padding-bottom: .01vw;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #a4a8a5;}

#red {
  background-color: lightcoral;
}
#green{
  background-color: lightgreen;
}

#yellow {
  background-color:lemonchiffon;
}

#blue {
  background-color: cornflowerblue;
}