body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(198, 223, 215);
}

header {
  padding-bottom: 2vw;
}

.controls {
  font-size: 1vw;
  width: 100vw;
  border-bottom: solid .2vw black;
  padding: .3vw;
  margin-bottom: .3vw;
  background-color: blanchedalmond;
  position: fixed;
}

.control {
  font-size: 1vw;
  padding: .3vw;
  border: .1vw solid black;
}


.cell {
  border-style: none;
}

.empty {
  display: inline-block;
}

.main{
  display: flex;
  justify-content: center;
}

.grids{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  border: 1px black solid;
  border-radius: 25px;
}

.box{
  height: 50px;
  width: 50px;
}

.box:hover {
  background-color: rgba(0, 0, 0, 0.356);
}

.row{
  display: flex;
}